.grid-container{
    display: grid;
    grid-template-areas:'box1 box1 box1 box1 box1 box1 box2 box2 box3 box3'
                        'box4 box4 box5 box5 box6 box6 box6 box6 box6 box6';
    gap: 20px;
}

.item-1{grid-area: box1 ;}
.item-2{grid-area: box2 ;}
.item-3{grid-area: box3 ;}
.item-4{grid-area: box4 ;}
.item-5{grid-area: box5 ;}
.item-6{grid-area: box6 ;}

.round{
  border-radius: 5px;
}


@media only screen and (max-width: 600px) {
    .grid-container{
        grid-template-areas: 'box1 box1 box1 box1 box1 box1'
                             'box2 box2 box2 box3 box3 box3'
                             'box4 box4 box4 box5 box5 box5'
                             'box6 box6 box6 box6 box6 box6';
       gap: 10px;
    }
    .product-sale{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(5,1fr);
        gap: 10px;
    }
    .round{
      height: 10%;
    }
  }

  .sale{
    border: 1px solid gray;
  }

 

  /* .img-hover-border{
    border: 1px solid black;
  } */

  @media (min-width: 1024px){
    .product-sale{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
      }
  }
  